<form>
  <h1>Request A Reset Key</h1>
  <label>Email</label>
  <input id="resetControllerEmail" class="formControl">
  <button id="resetControllerSubmitEmail" disabled="disabled" class="buttonPrimary">Request</button>
  <script src="/scripts/passwordResetController.js"></script>
</form>
