<form>
  <h1>Register</h1>
  <label>Email</label>
  <input id="registerControllerEmail" class="formControl">
  <label>Password</label>
  <input id="registerControllerPassword" class="formControl" type="password">
  <label>Repeat Password</label>
  <input id="registerControllerRepeatPassword" class="formControl" type="password">
  <button id="registerControllerSubmit" class="buttonPrimary" disabled>Register</button>
  <script src="/scripts/registerController.js"></script>
</form>
